<section class="user">
  <h1><%= @user.name %></h1>
  <h2><%= mail_to(@user.email) %></h2>
  <h2><%= @user.nascimento %></h2>
  <h2><%= @user.cidade %> - <%= @user.estado%></h2>
  <h2><%= @user.cpf %></h2>
</section>